@use "../../styles/global" as *;

.filter {
  display: flex;
  flex-direction: column;

  &__option {
    margin: 1rem;
    width: 20rem;
    background-color: black;
    color: white;

    cursor: pointer;
    &:hover {
      color: $apexRed;
    }
  }
  &__dropdown {
    width: 20rem;
    background-color: black;
    &--hidden {
      display: none;
    }
  }

  &__icon {
    margin-left: auto;
  }
  &__info {
    display: flex;
  }

  &__element {
    color: white;
    &--active {
      color: $apexRed;
    }
    &:hover {
      color: $apexRed;
    }
  }
}
