@use "../../styles/global" as *;

.filter {
  font-family: "TTLakeRegular";
  display: flex;
  flex-direction: column;
  width: 285px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 8px 10px 30px 10px;

  &__header {
    font-size: 24px;
    font-family: "TTLakeCondensedBold";
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  &__info {
    display: flex;
    width: 265px;
    height: 40px;
    padding: 0 8px;
    background-color: $apexRed;
  }
  &__text {
    font-family: "TTLakeCondensedBold";
    align-self: center;
  }

  &__icon {
    margin: auto 0 auto auto;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    &--dropdown {
      transform: rotate(180deg);
    }
  }

  &__option {
    color: white;

    cursor: pointer;
  }
  &__dropdown {
    background-color: white;
    color: black;
    padding: 4px 0;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    &--hidden {
      display: none;
    }
  }

  &__element {
    padding: 0 8px;
    margin: 0px 8px 0px 8px;
    border: 1px solid white;
    border-radius: 8px;
    &--active {
      border: 1px solid black;
      background-color: rgba(101, 101, 101, 0.078);
    }
    // &:hover {
    //   color: $apexRed;
    // }
  }
}
