@use "../../styles/global" as *;

.filter {
  display: flex;

  &__option {
    cursor: pointer;
    background-color: lightgrey;
    margin: 1rem;
    width: 20rem;
    background-color: black;
    color: white;
  }
  &__dropdown {
    display: none;
    width: 20rem;
    position: absolute;
    z-index: 1;
    background-color: black;
  }

  &__option--1 {
    &:hover .filter__dropdown--1 {
      display: flex;
      flex-direction: column;
      color: white;
    }
    &:hover {
      color: $apexRed;
    }
  }

  &__option--2 {
    &:hover .filter__dropdown--2 {
      display: flex;
      flex-direction: column;
      color: white;
    }
    &:hover {
      color: $apexRed;
    }
  }

  &__option--3 {
    &:hover .filter__dropdown--3 {
      display: flex;
      flex-direction: column;
      color: white;
    }
    &:hover {
      color: $apexRed;
    }
  }

  &__icon {
    margin-left: auto;
  }
  &__info {
    display: flex;
  }

  &__element {
    color: white;
    &:hover {
      color: $apexRed;
    }
  }
}
