$apexRed: #da292a;

// CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: DukeFill;
  src: url("./font/Duke\ Fill.otf");
}
@font-face {
  font-family: TTLakeBold;
  src: url("./font/Electronic\ Arts\ Text-normal-400-100.ttf");
}
@font-face {
  font-family: TTLakeRegular;
  src: url("./font/TT\ Lakes\ W05\ Regular-normal-400-100.ttf");
}

@font-face {
  font-family: TTLakeCondensedBold;
  src: url("./font/TT\ Lakes\ Neue\ Trial\ Condensed\ Bold.ttf");
}
